version: "3"
services:
  web:
    image: nginx
    ports:
      - "80:80"
    links:
     - drupal
     - database
    volumes:
      - ./server.conf:/etc/nginx/nginx.conf:ro
      - ./site.conf:/etc/nginx/conf.d/default.conf:ro
      - ./src:/var/www/html

  drupal:
    build: ./php-fpm
    ports:
      - "9000:9000"
    volumes:
      - ./src:/var/www/html

  database:
    restart: unless-stopped
    image: mariadb:latest
    environment:
      - MYSQL_ROOT_PASSWORD={{ drupal_db_root_password }}
      - MYSQL_DATABASE={{ drupal_db_name }}
      - MYSQL_USER={{ drupal_db_username }}
      - MYSQL_PASSWORD={{ drupal_db_password }}
    volumes:
      - "./db:/var/lib/mysql"
    ports:
      - "3306:3306"
