version: "3"
services:
  web:
    image: nginx
    ports:
      - "80:80"
    links:
     - drupal
     - database
    volumes:
      - ./server.conf:/etc/nginx/nginx.conf:ro
      - ./site.conf:/etc/nginx/conf.d/default.conf:ro
      - drupal-data:/var/www/html

  drupal:
    build: ./php-fpm
    ports:
      - "9000:9000"
    volumes:
      - drupal-data:/var/www/html

  database:
    restart: unless-stopped
    image: mariadb:latest
    environment:
      - MYSQL_ROOT_PASSWORD=XtremeXxXxX
      - MYSQL_DATABASE=drupal
      - MYSQL_USER=admin
      - MYSQL_PASSWORD=XtremeDB0ver24
    volumes:
      - db-data:/var/lib/mysql
    ports:
      - "3306:3306"

volumes:
  drupal-data:
  db-data:
    driver: local
