version: "3"
services:
  web:
    image: nginx
    ports:
      - "80:80"
    links:
     - php
     - database
    volumes:
      - ./server.conf:/etc/nginx/nginx.conf:ro
      - ./site.conf:/etc/nginx/conf.d/default.conf:ro
      - ../src:/var/www/html

  drupal:
    build: ./php-fpm
    ports:
      - "9000:9000"
    volumes:
      - ../src:/var/www/html

  database:
    restart: unless-stopped
    image: postgres:14
    hostname: postgres
    environment:
      - POSTGRES_DB={{ drupal_db_name }}
      - POSTGRES_USER={{ drupal_db_username }}
      - POSTGRES_PASSWORD={{ drupal_db_password }}
    volumes:
      - "../db:/var/lib/postgresql/data"
    ports:
      - "3306:3306"
